{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
{% endblock %}

{% block body %}
    <div class="col-md-12" style="border-bottom: 1px solid darkgray">
        <h2 style="margin: 10px 0 10px 0"> {{ data.full_name }} </h2>
    </div>

    <div class="col-md-12">
        <h3 class="h3">Auth Tokens</h3>
    </div>
    <div class="col-md-12" style="margin: 20px 20px"></div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Token id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Descriptions</th>
                    <th scope="col">Authorized at</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for key, value in data.auth_tokens.items() %}
                <tr>
                <form method="POST">
                    {% for inner_key, inner_value in value.items() %}
                    <td style="vertical-align: middle">
                        <input type="hidden" name="{{ inner_key }}" value="{{ inner_value }}">{{ inner_value }}
                    </td>
                    {% endfor %}
                    <td><button type="submit" class="button">revoke</button></td>
                </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
